{% extends 'base.html.twig' %}

{% block title %}Service Client{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block body %}
    <h1 class="text-3xl p-3 font-bold">Liste des tickets</h1>

    <div class="flex flex-col gap-2 px-5">
        {% if tickets %}
            {% include 'component/components/ticket.html.twig' with tickets %}
        {% else %}
            <p>Aucun ticket n'a été ouvert.</p>
        {% endif %}
    </div>
{% endblock %}
