body{

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 170px);
    background-image: url("../images/wallpaper/wallpaper-login-registration.png");
    background-size: cover;
    background-position: center;
}

form h1{
    color: #ffffff !important;
}

.login-container{
    position: relative;
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #ffffff;
    margin: 20px;
}
.login-container .mascotte{
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 110px;
}

.login-container a {
    text-decoration: underline;
    color: #ffffff;
}

.login-container label {
    color: #ffffff;
    margin-top: 15px;
}

.login-container input {
    max-width: 400px;
}

.login-container button {
    margin-top: 20px;
    background: transparent;
    color: #ffffff;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 16px;
    transition: all 0.25s ease-out;
    border: solid #ffffff;
}

.login-container button:hover {
    background: #ffffff;
    color: #373737 ;
    border: transparent solid;
}

@media screen and (max-width: 700px) {
    .login-container .mascotte{
        display: none;
    }
}