.banner  {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background-size:cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.banner img {
    max-height: 230px;
    max-width: 160px;
    border-radius: 2px;
}

svg {
    fill: black;
}

.container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 100%;
}

.banner-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.pfp {
    aspect-ratio: 1/1;
    width: 250px;
}

.user-info {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.user-info p {
    padding-left: 20px;
}

.settings {
    align-self: end;
    padding: 10px 20px;
}

.settings a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 678px) {

    .banner {
        height: auto;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner-content {
        flex-direction: column;
        align-items: center;
    }

    .user-info {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .user-info p {
        padding-left: 0;
    }
}

.content {
    padding: 25px;
}

.notes_container {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 5px;
}

.note_display {
    width: 220px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .4s;
}

.note_display h3 {
    height: 65px;
}

.note_display img{
    transition: all .4s;
    border-radius: 5px;
    aspect-ratio: 9 / 14;
    width: 125px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 29px rgba(49,54,68,.25);
}

.note_display:hover {
    transform: scale(1.1);
}

.note_display:hover img {
    box-shadow: 0 0 29px rgba(49,54,68,.6);
}

.comm_container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 5px;
}

.comm_display {
    padding: 20px 25px;
    display: flex;
    width: 80%;
    align-items: center;
    transition: all .4s;
}

.comm_display img{
    border-radius: 5px;
    aspect-ratio: 9 / 14;
    width: 90px;
    object-fit: cover;
    object-position: center;
    transition: all .4s;

}

.comm_display:hover {
    transform: translateX(-10px);
}

.comm_display:hover img {
    box-shadow: 0 0 29px rgba(49,54,68,.6);
}


.comm_content {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.profil-top img{
    aspect-ratio: 1;
    width: 150px;
}
.profil-top{
    align-items: center;
}