<footer class="navbar footer navbar-light bg-light">
    <div class="container">
        <span class="navbar-text">
          © 2023 AnimeWorld
        </span>

        <ul class="list-unstyled">
            <li><a href="/tickets">Service Client</a></li>
            <li><a href="/cgu">CGU</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</footer>