<div class="stars">
    {% for i in range(0.5,5,0.5) %}
        <div class="star-box {{ i==0 ? "zero" : i*2%2==0 ? "right" : "left" }} {{ note>=i ? "active" : "" }}">
            {% if i!=0 %}
                <i class="fa-solid fa-star star-icon"></i>
            {% endif %}
        </div>
    {% endfor %}
</div>